<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Stok_Takip_ve_Muhasebe_Programi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="StokVeMuhasebeEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SI7CUIV;initial catalog=StokVeMuhasebe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Stok_Takip_ve_Muhasebe_Programi.Properties.Settings>
      <setting name="Server" serializeAs="String">
        <value>SERVERNAME</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="Pass" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="Database" serializeAs="String">
        <value>Deneme</value>
      </setting>
    </Stok_Takip_ve_Muhasebe_Programi.Properties.Settings>
  </userSettings>
</configuration>